<section id="menu-6" class="wide-70 menu-section division">
  <div class="container">
      <div class="example-container">
          <h5>Assigned Orders</h5>
          <div
            cdkDropList
            [cdkDropListData]="orders"
            [cdkDropListConnectedTo]="[delivering]"
            class="example-list"
            id="orders"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of orders" cdkDrag>
              <div class="card border-primary mb-3" style="width: 20rem;">
                <div class="card-body text-primary">
                  <ul>
                    <li><small><i class="fa fa-user"></i> {{item.client.firstname}} {{item.client.lastname}}</small></li>
                    <li><small><i class="fa fa-globe"></i> {{item.client.email}}</small></li>
                    <li><small><i class="fa fa-cost"></i> Prix: {{item.totalsellprice}} Ar</small></li>
                    <li><small><i class="fa fa-clock"></i> {{item.date | date}}</small></li>
                  </ul>
                </div>
              </div>
           </div>
          </div>
      </div>

      <div class="example-container">
          <h5>In delivering</h5>
          <div
              cdkDropList
              #delivering="cdkDropList"
              [cdkDropListData]="ordersDelivering"
              [cdkDropListConnectedTo]="[delivered]"
              class="example-list"
              id="delivering"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of ordersDelivering" cdkDrag>
                <div class="card border-warning mb-3" style="width: 20rem;">
                  <div class="card-body text-warning">
                    <ul>
                      <li><small><i class="fa fa-user"></i> {{item.client.firstname}} {{item.client.lastname}}</small></li>
                      <li><small><i class="fa fa-globe"></i> {{item.client.email}}</small></li>
                      <li><small><i class="fa fa-cost"></i> Prix: {{item.totalsellprice}} Ar</small></li>
                      <li><small><i class="fa fa-clock"></i> {{item.date | date}}</small></li>
                    </ul>
                  </div>
                </div>
                </div>
          </div>
      </div>

      <div class="example-container">
          <h5>Delivered</h5>
          <div
              cdkDropList
              #delivered="cdkDropList"
              [cdkDropListData]="ordersDelivered"
              [cdkDropListConnectedTo]="[delivered]"
              id="delivered"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of ordersDelivered" cdkDrag>
                <div class="card border-success mb-3" style="width: 20rem;">
                  <div class="card-body text-success">
                    <ul>
                      <li><small><i class="fa fa-user"></i> {{item.client.firstname}} {{item.client.lastname}}</small></li>
                      <li><small><i class="fa fa-globe"></i> {{item.client.email}}</small></li>
                      <li><small><i class="fa fa-cost"></i> Prix: {{item.totalsellprice}} Ar</small></li>
                      <li><small><i class="fa fa-clock"></i> {{item.date | date}}</small></li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</section>



