		<!-- CART PAGE
			============================================= -->
			<section id="cart-1" class="wide-100 cart-page division">
				<div class="container">


					<!-- CART TABLE -->
					<div class="row">
						<div class="col-lg-8 col-md-12">
							<div class="cart-table mb-70">
								<table id="myTable">
									<thead>
									    <tr>
									      	<th scope="col">Product</th>
									      	<th scope="col">Price</th>
									      	<th scope="col">Quantity</th>
									      	<th scope="col">Total</th>
									      	<th scope="col">Delete</th>
									    </tr>
									 </thead>

									<tbody>

										<!-- CART ITEM #1 -->
									    <tr>
									      	<td data-label="Product" class="product-name">

									      		<!-- Preview -->
												<div class="cart-product-img"><img src="./assets/images/menu/burger-07.png" alt="cart-preview"></div>

												<!-- Description -->
												<div class="cart-product-desc">
										      		<h5 class="h5-sm">Smokey House Burger</h5>
										      		<p class="p-sm">Magna donec and ipsum gravida</p>
										      	</div>

									      	</td>

									      	<td data-label="Price" class="product-price"><h5 class="h5-md">$8.95</h5></td>
									      	<td data-label="Quantity" class="product-qty">
									      		<input class="qty" type="number" min="1" max="20" value="1">
									      	</td>
									      	<td data-label="Total" class="product-price-total"><h5 class="h5-md">$8.95</h5></td>
									      	<td data-label="Delete" class="td-trash"><i class="far fa-trash-alt"></i></td>

									    </tr>

									    <!-- CART ITEM #2 -->
									    <tr class="last-tr">

									     	<td data-label="Product" class="product-name">

									     		<!-- Preview -->
												<div class="cart-product-img"><img src="./assets/images/menu/pizza-04.png" alt="cart-preview"></div>

												<!-- Description -->
												<div class="cart-product-desc">
										     		<h5 class="h5-sm">BBQ Chicken Pizza</h5>
										     		<p class="p-sm">Magna donec and ipsum gravida</p>
										     	</div>

									     	</td>

									      	<td data-label="Price" class="product-price"><h5 class="h5-md">$27.00</h5></td>
									      	<td data-label="Quantity" class="product-qty">
									      		<input class="qty" type="number" min="1" max="20" value="1">
									      	</td>
									      	<td data-label="Total" class="product-price-total"><h5 class="h5-md">$27.00</h5></td>
									      	<td data-label="Delete" class="td-trash"><i class="far fa-trash-alt"></i></td>
									    </tr>

									</tbody>

								</table>
							</div>
						</div>
						<!-- CHECKOUT -->
						<div class="col-lg-4">
							<div class="cart-checkout bg-lightgrey">

								<!-- Title -->
								<h5 class="h5-lg">Cart Total</h5>

								<!-- Table -->
								<table>
									<tbody>
									    <tr>
									      	<td>Subtotal</td>
									      	<td> </td>
									      	<td class="text-right">$35.95</td>
									    </tr>
									    <tr class="last-tr">
									      	<td>Total</td>
									      	<td> </td>
									      	<td class="text-right">$35.95</td>
									    </tr>
									  </tbody>
								</table>

								<!-- Button -->
								<a href="#" class="btn btn-md btn-salmon tra-salmon-hover">Proceed To Checkout</a>

							</div>
						</div>	<!-- END CHECKOUT -->
					</div>	<!-- END CART TABLE -->


				</div>	   <!-- End container -->
			</section>	<!-- END CART PAGE -->

