<!-- MENU-8
			============================================= -->
			<section id="menu-8" class="wide-70 menu-section division">
				<div class="container">


					<!-- TABS NAVIGATION -->
					<div id="tabs-nav">
					 	<div class="row">
							<div class="col-lg-12 text-center">
						 		<ul class="tabs-1 ico-55 red-tabs clearfix">

						 			<!-- TAB-1 LINK -->
									<li class="tab-link current" data-tab="tab-1">
										<span class="flaticon-dinner"></span>
										<h5 class="h5-sm">Pasta</h5>
									</li>

									<!-- TAB-2 LINK -->
									<li class="tab-link" data-tab="tab-2">
										<span class="flaticon-fries"></span>
										<h5 class="h5-sm">Sides</h5>
									</li>

									<!-- TAB-3 LINK -->
									<li class="tab-link" data-tab="tab-3">
										<span class="flaticon-salad-1"></span>
										<h5 class="h5-sm">Salads</h5>
									</li>

									<!-- TAB-3 LINK -->
									<li class="tab-link" data-tab="tab-4">
										<span class="flaticon-doughnut"></span>
										<h5 class="h5-sm">Desserts</h5>
									</li>

								</ul>
							</div>
						</div>
                     </div>
                     <!-- END TABS NAVIGATION -->


				 	<!-- TABS CONTENT -->
				 	<div id="tabs-content">


				 		<!-- TAB-1 CONTENT -->
						<div id="tab-1" class="tab-content current">
							<div class="row">


								<!-- MENU ITEM #1 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/pasta-01.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$8.50</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Spaghetti Bolognese</h5>

											<!-- Description -->
											<p class="grey-color">Pork sausages, parmesan cheese, onion, tomatoes, basil</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #1 -->


								<!-- MENU ITEM #2 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/pasta-02.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$9.99</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Tuna pasta bake</h5>

											<!-- Description -->
											<p class="grey-color">Rigatoni, cheddar cheese, tuna steak, sweetcorn, parsley</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #2 -->


								<!-- MENU ITEM #3 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/pasta-03.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$9.75</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Fettuccine Alfredo</h5>

											<!-- Description -->
											<p class="grey-color">Fettuccine, parmesan cheese, nutmeg, garlic, parsley</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #3 -->


								<!-- MENU ITEM #4 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/pasta-04.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$10.45</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Pancetta Spaghetti</h5>

											<!-- Description -->
											<p class="grey-color">Pancetta, olive oil, cheddar cheese, parmesan cheese, basil</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #4 -->


							</div>  <!-- End row -->
						</div>	<!-- END TAB-1 CONTENT -->


						<!-- TAB-2 CONTENT -->
						<div id="tab-2" class="tab-content">
							<div class="row">


								<!-- MENU ITEM #1 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/side-01.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$3.85</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Onion Rings</h5>

											<!-- Description -->
											<p class="grey-color">Integer ultrice an aligula lectus purus magna and tempor</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #1 -->


								<!-- MENU ITEM #2 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/side-02.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$3.69</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">French Fries</h5>

											<!-- Description -->
											<p class="grey-color">Integer ultrice an aligula lectus purus magna and tempor</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #2 -->


								<!-- MENU ITEM #3 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/side-03.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$5.25</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Mozzarella Sticks</h5>

											<!-- Description -->
											<p class="grey-color">Integer ultrice an aligula lectus purus magna and tempor</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #3 -->


								<!-- MENU ITEM #4 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/side-04.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$4.99</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Chicken Nuggets</h5>

											<!-- Description -->
											<p class="grey-color">Integer ultrice an aligula lectus purus magna and tempor</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #4 -->


							</div>  <!-- End row -->
						</div>	<!-- END TAB-2 CONTENT -->


						<!-- TAB-3 CONTENT -->
						<div id="tab-3" class="tab-content">
							<div class="row">


								<!-- MENU ITEM #1 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/salad-01.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$7.99</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Greek Salad</h5>

											<!-- Description -->
											<p class="grey-color">Tomatoes, cucumbers, olives, feta cheese, red onion, olive oil</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #1 -->


								<!-- MENU ITEM #2 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/salad-02.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$9.30</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Chicken Salad</h5>

											<!-- Description -->
											<p class="grey-color">Chicken breast, chilli sauce, lime juice, lettuce leaves, cucumber</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #2 -->


								<!-- MENU ITEM #3 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/salad-03.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$8.70</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Spinach Salad</h5>

											<!-- Description -->
											<p class="grey-color">Halloumi cheese, spinach, oranges, mint leaves, olive oil</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #3 -->


								<!-- MENU ITEM #4 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/salad-04.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$8.30</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Turkey Burger</h5>

											<!-- Description -->
											<p class="grey-color">Turkey, cheddar cheese, onion, lettuce, tomatoes, pickles</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #4 -->


							</div>  <!-- End row -->
						</div>	<!-- END TAB-3 CONTENT -->


						<!-- TAB-4 CONTENT -->
						<div id="tab-4" class="tab-content">
							<div class="row">


								<!-- MENU ITEM #1 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/dessert-01.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$8.50</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Strawberry Caken</h5>

											<!-- Description -->
											<p class="grey-color">Strawberry, soft cheese, icing sugar, butter softened</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #1 -->


								<!-- MENU ITEM #2 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/dessert-02.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$8.50</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Belgian Waffle</h5>

											<!-- Description -->
											<p class="grey-color">Berries, Greek yogurt, ice cream, chocolate sauce, peanut butter</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #2 -->


								<!-- MENU ITEM #3 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/dessert-03.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$7.99</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Cheesecake</h5>

											<!-- Description -->
											<p class="grey-color">Strawberry, double cream, icing sugar, soft cheese, biscuits</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #3 -->


								<!-- MENU ITEM #4 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/dessert-04.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$7.40</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Chocolate Cake</h5>

											<!-- Description -->
											<p class="grey-color">Milk chocolate, icing sugar, cocoa powder, milk, vanilla extract</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #4 -->


							</div>  <!-- End row -->
						</div>	<!-- END TAB-4 CONTENT -->


                        	<!-- TAB-1 CONTENT -->
						<div id="tab-1" class="tab-content current">
							<div class="row">


								<!-- MENU ITEM #1 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/pasta-01.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$8.50</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Spaghetti Bolognese</h5>

											<!-- Description -->
											<p class="grey-color">Pork sausages, parmesan cheese, onion, tomatoes, basil</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #1 -->


								<!-- MENU ITEM #2 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/pasta-02.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$9.99</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Tuna pasta bake</h5>

											<!-- Description -->
											<p class="grey-color">Rigatoni, cheddar cheese, tuna steak, sweetcorn, parsley</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #2 -->


								<!-- MENU ITEM #3 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/pasta-03.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$9.75</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Fettuccine Alfredo</h5>

											<!-- Description -->
											<p class="grey-color">Fettuccine, parmesan cheese, nutmeg, garlic, parsley</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #3 -->


								<!-- MENU ITEM #4 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/pasta-04.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$10.45</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Pancetta Spaghetti</h5>

											<!-- Description -->
											<p class="grey-color">Pancetta, olive oil, cheddar cheese, parmesan cheese, basil</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #4 -->


							</div>  <!-- End row -->
						</div>	<!-- END TAB-1 CONTENT -->


						<!-- TAB-2 CONTENT -->
						<div id="tab-2" class="tab-content">
							<div class="row">


								<!-- MENU ITEM #1 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/side-01.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$3.85</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Onion Rings</h5>

											<!-- Description -->
											<p class="grey-color">Integer ultrice an aligula lectus purus magna and tempor</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #1 -->


								<!-- MENU ITEM #2 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/side-02.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$3.69</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">French Fries</h5>

											<!-- Description -->
											<p class="grey-color">Integer ultrice an aligula lectus purus magna and tempor</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #2 -->


								<!-- MENU ITEM #3 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/side-03.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$5.25</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Mozzarella Sticks</h5>

											<!-- Description -->
											<p class="grey-color">Integer ultrice an aligula lectus purus magna and tempor</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #3 -->


								<!-- MENU ITEM #4 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/side-04.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$4.99</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Chicken Nuggets</h5>

											<!-- Description -->
											<p class="grey-color">Integer ultrice an aligula lectus purus magna and tempor</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #4 -->


							</div>  <!-- End row -->
						</div>	<!-- END TAB-2 CONTENT -->


						<!-- TAB-3 CONTENT -->
						<div id="tab-3" class="tab-content">
							<div class="row">


								<!-- MENU ITEM #1 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/salad-01.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$7.99</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Greek Salad</h5>

											<!-- Description -->
											<p class="grey-color">Tomatoes, cucumbers, olives, feta cheese, red onion, olive oil</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #1 -->


								<!-- MENU ITEM #2 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/salad-02.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$9.30</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Chicken Salad</h5>

											<!-- Description -->
											<p class="grey-color">Chicken breast, chilli sauce, lime juice, lettuce leaves, cucumber</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #2 -->


								<!-- MENU ITEM #3 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/salad-03.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$8.70</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Spinach Salad</h5>

											<!-- Description -->
											<p class="grey-color">Halloumi cheese, spinach, oranges, mint leaves, olive oil</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #3 -->


								<!-- MENU ITEM #4 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/salad-04.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$8.30</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Turkey Burger</h5>

											<!-- Description -->
											<p class="grey-color">Turkey, cheddar cheese, onion, lettuce, tomatoes, pickles</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #4 -->


							</div>  <!-- End row -->
						</div>	<!-- END TAB-3 CONTENT -->


						<!-- TAB-4 CONTENT -->
						<div id="tab-4" class="tab-content">
							<div class="row">


								<!-- MENU ITEM #1 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/dessert-01.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$8.50</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Strawberry Caken</h5>

											<!-- Description -->
											<p class="grey-color">Strawberry, soft cheese, icing sugar, butter softened</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #1 -->


								<!-- MENU ITEM #2 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/dessert-02.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$8.50</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Belgian Waffle</h5>

											<!-- Description -->
											<p class="grey-color">Berries, Greek yogurt, ice cream, chocolate sauce, peanut butter</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #2 -->


								<!-- MENU ITEM #3 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/dessert-03.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$7.99</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Cheesecake</h5>

											<!-- Description -->
											<p class="grey-color">Strawberry, double cream, icing sugar, soft cheese, biscuits</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #3 -->


								<!-- MENU ITEM #4 -->
								<div class="col-sm-6 col-lg-3">
									<div class="menu-7-item">

										<!-- IMAGE -->
										<div class="menu-7-img rel">

											<!-- Image -->
											<img class="img-fluid" src="./assets/images/menu/dessert-04.png" alt="menu-image" />

											<!-- Price -->
											<div class="menu-7-price bg-coffee">
												<h5 class="h5-xs yellow-color">$7.40</h5>
											</div>

											<!-- Rating -->
											<div class="item-rating">
												<div class="stars-rating stars-lg">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="far fa-star"></i>
												</div>
											</div>

											<!-- Like Icon -->
											<div class="like-ico ico-20">
												<a href="#"><span class="flaticon-heart"></span></a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="menu-7-txt rel">

											<!-- Title -->
											<h5 class="h5-sm coffee-color">Chocolate Cake</h5>

											<!-- Description -->
											<p class="grey-color">Milk chocolate, icing sugar, cocoa powder, milk, vanilla extract</p>

											<!-- Button -->
											<a href="product-single.html" class="btn btn-sm btn-tra-grey yellow-hover">
												<span class="flaticon-shopping-bag"></span> Add to Cart
											</a>

										</div>

									</div>
								</div>	<!-- END MENU ITEM #4 -->


							</div>  <!-- End row -->
						</div>	<!-- END TAB-4 CONTENT -->


                     </div>
                     <!-- END TABS CONTENT -->


				</div>	   <!-- End container -->
            </section>
