<!-- <div id="preloader" class="preloader" *ngIf="load" (click)="stopLoading()">
    <div class='inner'>
        <div class='line1'></div>
        <div class='line2'></div>
        <div class='line3'></div>
    </div>
</div> -->

<!-- Login and register section  -->
<section class="fxt-template-animation fxt-template-layout29">
    <div class="container-fluid">
        <div class="row">
            <div class="vegas-container col-md-6 col-12 fxt-bg-img" id="vegas-slide" data-vegas-options='{"delay":5000, "timer":false,"animation":"kenburns", "transition":"swirlLeft", "slides":[{"src": "./assets/img/3.jpg"}, {"src": "./assets/img/3.jpg"}, {"src": "./assets/img/3.jpg"}]}'>
              <img src="./assets/img/3.jpg"/>
              <div class="fxt-page-switcher">
                    <a  class="switcher-text1 active" (click)="changeState()">Login</a>
                    <a class="switcher-text1" (click)="changeState()">Register</a>
                </div>
            </div>
            <div *ngIf="isLogin" class="col-md-6 col-12 fxt-bg-color">
                <div class="fxt-content">
                    <div class="fxt-header">
                        <a href="login-29.html" class="fxt-logo"><img src="./assets/img/logo-29.png" alt="Logo"></a>
                    </div>
                    <div class="fxt-form">
                        <div class="fxt-transformY-50 fxt-transition-delay-1">
                            <h2>Log In</h2>
                        </div>
                        <div class="fxt-transformY-50 fxt-transition-delay-2">
                            <p *ngIf="errorLogin.length > 0">{{ errorLogin }}</p>
                        </div>

                        <!-- login form -->
                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <div class="form-group">
                                <div class="fxt-transformY-50 fxt-transition-delay-4">
                                    <input type="email" formControlName="email"  class="form-control" name="email" placeholder="Email Address" required="required">
                                    <i class="flaticon-envelope"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="fxt-transformY-50 fxt-transition-delay-5">
                                    <input type="password" formControlName="password" class="form-control" name="password" placeholder="Password" required="required">
                                    <i class="flaticon-padlock"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="fxt-transformY-50 fxt-transition-delay-6">
                                    <div class="fxt-content-between">
                                        <button type="submit" class="fxt-btn-fill">Log in</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div *ngIf="!isLogin" class="col-md-6 col-12 fxt-bg-color">
              <div class="fxt-content">
                <div class="fxt-header">
                  <a class="fxt-logo"><img src="img/logo-29.png" alt="Logo"></a>
                </div>
                <div class="fxt-form">
                  <div class="fxt-transformY-50 fxt-transition-delay-1">
                    <h2>Register</h2>
                  </div>
                  <div class="fxt-transformY-50 fxt-transition-delay-2">
                    <p>Create an account free and enjoy it</p>
                  </div>

                  <!-- Inscription Form  -->
                  <form [formGroup]="inscriptionForm" (ngSubmit)="inscription()">
                    <div class="form-group">
                      <div class="fxt-transformY-50 fxt-transition-delay-1">
                        <input type="text" class="form-control" name="firstName" formControlName="firstName"  placeholder="First Name" required="required">
                        <i class="flaticon-user"></i>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="fxt-transformY-50 fxt-transition-delay-1">
                        <input type="text" class="form-control" name="lastName" formControlName="lastName"  placeholder="Last Name" required="required">
                        <i class="flaticon-user"></i>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="fxt-transformY-50 fxt-transition-delay-1">
                        <input type="email" class="form-control" name="email" formControlName="email" placeholder="Email Address" required="required">
                        <i class="flaticon-envelope"></i>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="fxt-transformY-50 fxt-transition-delay-1">
                        <input type="text" class="form-control" name="phoneNumber" formControlName="phoneNumber" placeholder="Phone Number" required="required">
                        <i class="flaticon-envelope"></i>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="fxt-transformY-50 fxt-transition-delay-2">
                        <input type="password" class="form-control" name="password" formControlName="password" placeholder="Password" required="required">
                        <i class="flaticon-padlock"></i>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="fxt-transformY-50 fxt-transition-delay-3">
                        <button type="submit" class="fxt-btn-fill">Register</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>

