
		<header id="header-3" class="header navik-header header-transparent header-shadow">
			<div class="container">


				<!-- NAVIGATION MENU -->
				<div class="navik-header-container">


					<!-- CALL BUTTON -->
				    <div class="callusbtn"><a href="tel:123456789"><i class="fas fa-phone"></i></a></div>


					<!-- LOGO IMAGE -->
	                <div class="logo" data-mobile-logo="./assets/images/logo-01.png" data-sticky-logo="images/logo-01.png">
	                	<a href="#hero-6"><img src="./assets/images/logo-01.png" alt="header-logo"/></a>
					</div>


					<!-- BURGER MENU -->
					<div class="burger-menu">
						<div class="line-menu line-half first-line"></div>
						<div class="line-menu"></div>
						<div class="line-menu line-half last-line"></div>
					</div>


					<!-- MAIN MENU -->
	                <nav class="navik-menu menu-caret navik-yellow">

                    <!-- Client menuw -->
	                	<ul class="top-list" *ngIf="connectedUser?.type === 'client'">

	                		<!-- Restaurants -->
	                		<li [routerLink]="['/restaurants']" routerLinkActive="router-link-active" ><a href="#">Restaurants</a></li>

	                		<!-- Menu -->
	                    <li><a href="#" [routerLink]="['/plats']">Our Menu</a></li>

	                    <!-- MEGA MENU -->
	                    <li class="mega-menu" (click)="logOut()"><a href="#">Logout</a></li>
                      <!-- END MEGA MENU -->

                      <!-- BASKET ICON -->
                      <li class="basket-ico ico-30" (click)="seeBasket()">
                          <a>
                            <span class="ico-holder"><span class="flaticon-shopping-bag"></span> <em class="roundpoint">2</em></span>
                          </a>
                      </li>

	                  </ul>
                    <!-- End client menus -->

                    <!-- Restaurant menu  -->
                    <ul class="top-list" *ngIf="connectedUser?.type ===  'restaurant'">
	                		<!-- Menu -->
	                    <li  [routerLink]="['restaurants', connectedUser?.id]"><a href="#" routerLinkActive="router-link-active" >Menus</a></li>

                      <!-- Menu -->
	                    <li><a href="#">Orders</a></li>

	                    <!-- MEGA MENU -->
	                    <li class="mega-menu" (click)="logOut()"><a href="#">Logout</a></li>
                      <!-- END MEGA MENU -->

                      <!-- BASKET ICON -->
                      <li class="basket-ico ico-30" (click)="seeBasket()">
                          <a>
                            <span class="ico-holder"><span class="flaticon-shopping-bag"></span> <em class="roundpoint">2</em></span>
                          </a>
                      </li>

	                  </ul>
                    <!-- End Restaurant menu  -->

                    <!-- Ekaly menus -->
                    <ul class="top-list" *ngIf="connectedUser?.type ===  'ekaly'">

                      <!-- Restaurants -->
                      <li  [routerLink]="['restaurants']"><a href="#">Restaurants</a></li>
	                		<!-- Menu -->
	                    <li><a href="#">Menus</a></li>
                      <!-- Orders -->
	                    <li [routerLink]="['orders']" routerLinkActive="router-link-active" ><a href="#">Orders</a></li>
                       <!-- Deliverers -->
	                    <li><a href="#">Deliverers</a></li>

	                    <!-- MEGA MENU -->
	                    <li class="mega-menu" (click)="logOut()"><a href="#">Logout</a></li>
                      <!-- END MEGA MENU -->
	                  </ul>
                    <!-- End Ekaly menus -->

                    <!-- Deliverer menu  -->
                    <ul class="top-list" *ngIf="connectedUser?.type ===  'deliverer'">
                      <!-- Restaurants -->
                      <li><a href="#">Orders</a></li>
	                    <!-- MEGA MENU -->
	                    <li class="mega-menu" (click)="logOut()"><a href="#">Logout</a></li>
                      <!-- END MEGA MENU -->
	                  </ul>
                    <!-- End deliverer menu -->

	                </nav>	<!-- END MAIN MENU -->


				</div>	<!-- END NAVIGATION MENU -->


			</div>     <!-- End container -->
		</header>	<!-- END HEADER-3 -->




		<!-- PAGE CONTENT
		============================================= -->
		<div id="page" class="page">

            <!-- HERO-6
			============================================= -->
			<section id="hero-6" class="hero-section division">


				<!-- SLIDER -->
				<div class="slider mt-1001">
			    	<ul class="slides">


				     	<!-- SLIDE #1 -->
				      	<li id="slide-1">

					        <!-- Background Image -->
				        	<img src="./assets/images/slider/slide-1.jpg" alt="slide-background">

							<!-- Image Caption -->
		       				<div class="caption d-flex align-items-center left-align">
		       					<div class="container">
		       						<div class="row">
		       							<div class="col-sm-7">
		       								<div class="caption-txt white-color">

						       					<!-- Title -->
								         	 	<h2>Farmers Special</h2>
								         	 	<h3>From <span class="meat-color">$26.49</span></h3>

											</div>
										</div>
									</div>  <!-- End row -->
								</div>  <!-- End container -->
					        </div>	<!-- End Image Caption -->

					    </li>	<!-- END SLIDE #1 -->


				      	<!-- SLIDE #2 -->
				      	<li id="slide-2">

				        	<!-- Background Image -->
				        	<img src="./assets/images/slider/slide-2.jpg" alt="slide-background">

							<!-- Image Caption -->
		       				<div class="caption d-flex align-items-center left-align">
		       					<div class="container">
		       						<div class="row">
		       							<div class="col-sm-7">
		       								<div class="caption-txt white-color">

						       					<!-- Title -->
								         	 	<h2>Chicken Ranchero</h2>
								         	 	<h3>From <span class="meat-color">$24.99</span></h3>

											</div>
										</div>
									</div>  <!-- End row -->
								</div>  <!-- End container -->
					        </div>	<!-- End Image Caption -->

				     	</li>	<!-- END SLIDE #2 -->


				     	<!-- SLIDE #3 -->
				      	<li id="slide-3">

				      		<!-- Background Image -->
				        	<img src="./assets/images/slider/slide-3.jpg" alt="slide-background">

				        	<!-- Image Caption -->
		       			 	<div class="caption d-flex align-items-center left-align">
	        					<div class="container">
		       						<div class="row">
		       							<div class="col-sm-7">
		       								<div class="caption-txt white-color">

						       			 		<!-- Title -->
								         	 	<h2>Quattro Formaggi</h2>
								         	 	<h3>From <span class="meat-color">$32.25</span></h3>

											</div>
					        			</div>
									</div>  <!-- End row -->
								</div>  <!-- End container -->
					        </div>	<!-- End Image Caption -->

				     	</li>	<!-- END SLIDE #3 -->

				    </ul>
			  	</div>	<!-- END SLIDER -->


            </section>
            <!-- END HERO-6 -->
            <router-outlet></router-outlet>

                <!-- FOOTER-4
			============================================= -->
			<footer id="footer-4" class="footer division">
				<div class="container grey-color">

					<!-- BOTTOM FOOTER -->
					<div class="bottom-footer">
						<div class="row d-flex align-items-center">


                            <div class="col-md-3 col-lg-4">
								<div class="footer-logo"><img src="./assets/images/logo-01.png" style="max-height: 50px;" alt="footer-logo"/></div>
                            </div>


							<!-- FOOTER COPYRIGHT -->
							<div class="col-md-5 col-lg-5">
								<div class="footer-copyright">
									<p>&copy; 2020 Testo. All Rights Reserved</p>
								</div>
							</div>

                            <div class="col-md-4 col-lg-3">
                                <p><span class="yellow-color"><a href="tel:123456789">Contact : 789-654-3210</a></span></p>
                            </div>
							<!-- BOTTOM FOOTER LINKS -->



						</div>  <!-- End row -->
					</div>	<!-- END BOTTOM FOOTER -->


				</div>	   <!-- End container -->
            </footer>
            <!-- END FOOTER-4 -->
        </div>
        <!-- END PAGE CONTENT -->
